{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block body %}
{% block content %}
    {% include 'blog/col.html' %}
    <div class="row" style="background-color:#225F94">
        <div class="col-md-12">
            <div class="row">
        <div class="col-md-12">
            <h4 class="text-center" style="color:aquamarine">
                "You are The SeMiCoLns to My staTements!"
            </h4>
        </div>
    </div>
        <div class="container-fluid" >
            <div class="row">

            <div class="col-md-4">
                <br/>
                <img src="{% static '//img/profile.jpg' %}" class="img-fluid" alt="Responsive image" style="height:450px;width:400px;">
                <h6 class="text-center" style="font-family:  cursive;color:aquamarine"> Make an income + impact by doing what you love</h6>
            </div>
                <br/>
            <div class="col-md-7">
                <br/>
                <br/>
                <span class="code"><span style="color: red;font-size: 50px">myWorld</span><span style="color: aquamarine;font-size: 50px"> = </span>
                    <span style="color:honeydew;font-size: 50px">code|</span><span style="color: aquamarine;font-size: 50px">;</span></span><br/><br/>
            <br/>
                <h3 style="color:white;font-family:'Ubuntu Beta',monospace">Hi there!My name is Chandra. I mainly write code for web app using django/python and Mobile apps.
                    I'm passionate software developer.I Love programming!!!!
                </h3>
                <br/>
                <a href="{% url 'blog:blog_contact' %}"><button class="btn btn-info float-right">Hire me!!</button></a>
            </div>
            <div class="col-md-1">

            </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}

{% block footer %}
<footer class= "fixed-bottom"
     style="background-color:#FAFAFA;height: 3em;font-size: 20px;padding-top: 15px ">
<p class="text-center" style="font-family: cursive">"ALL INPUT IS EVIL!!"</p>
</footer>
        {% endblock %}

{% endblock %}