
{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<title>{% block head_title %}post edit{% endblock %}</title>
{% block body %}
 {% if not request.user.is_superuser %}
      <h1><center>OPPS!!!!!!</center></h1><br/>
     <h2><center>You are in wrong page!!please <a href="{% url 'blog:blog_index' %}"> go back!!</a></center></h2>
     {% else %}
    <div class="container-fluid" >
        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">


                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form|crispy }}

                    <button type="submit" class="save btn btn-default">Save</button>
                </form>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% endif %}

{% endblock body %}

