{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<style>
    {% block style %}
        #cd{

        background-color: #FAFAFA;
            padding-top: 10px;

        }

    {% endblock %}
</style>
{% block body %}
    <body style="background: #0186E5;opacity: 0.9;min-height:500px">
    <div class="container-fluid" >
        <div class="row">

            <div class="col-sm-4"></div>

            <div class="col-sm-4" id="cd">
                <h1 style="color: #3091E7"><center>Forgotten your password?</center></h1>
                <p>Enter your e-mail address to obtain a new password.</p>
                <form action="." method="post" st>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p><input type="submit" value="Send e-mail"></p>

                </form>
            </div>
            <div class="col-sm-4">

        {% for post in Profile %}
        <img src="{{user.post.photo.url }}" alt="img" class="img-responsive img-rounded">
    {% endfor %}

            </div>
        </div>
    </div>
    </body>
{% endblock body %}








