

{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<style>
    {% block style %}
        #cd{

        background-color: #FAFAFA;
            padding-top: 10px;

        }

    {% endblock %}
</style>
{% block body %}
    <body style="background: #0186E5;opacity: 0.9;min-height:500px">
    <div class="container-fluid" >
        <div class="row">

            <div class="col-sm-4"></div>

            <div class="col-sm-4" id="cd">
                <h1 style="color: #3091E7"><center>Password set</center></h1>
                <p>You have successfully changed your password! You may now proceed to log in.</p>
                <a href="{% url 'accounts:login' %}" ><button>log in now</button></a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    </body>
{% endblock body %}








