{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<style>
    {% block style %}
        #cd{

        background-color: #FAFAFA;
            padding-top: 10px;
        padding-bottom: 20px;

        }

    {% endblock %}
</style>
{% block body %}
        <body style="background: #0186E5;opacity: 0.9;min-height:500px">

    <div class="container-fluid" >
        <div class="row">

            <div class="col-sm-4"></div>

            <div class="col-sm-4" id="cd">
                <p><strong>Success!</strong> Your password has been changed!</p>
                <a href="{% url 'accounts:index' %}"><button>Return to home page</button></a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    </body>
{% endblock body %}











