{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<style>
    {% block style %}
        #cd{

        background-color: #FAFAFA;
            padding-top: 10px;

        }

    {% endblock %}
</style>
{% block body %}
        <body style="background: #0186E5;opacity: 0.9;min-height:500px">

    <div class="container-fluid" >
        <div class="row">

            <div class="col-sm-4"></div>

            <div class="col-sm-4" id="cd">
                <h1 style="color: #3091E7"><center>Change you password</center></h1>
                <p>Use the form below to change your password.</p>
                <form action="{% url 'accounts:password_change_done' %}" method="post">
                    {{ form|crispy }}
                    <p><input class="btn btn-block btn-primary" type="submit" value="Change"></p>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    </body>
{% endblock body %}




