{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<style>
    {% block style %}
        #cd{

        background-color: #FAFAFA;
            padding-top: 10px;

        }

    {% endblock %}
</style>
{% block body %}
        <body class="chandra" style="background: #0186E5;opacity: 0.9;min-height:500px">

    <div class="container-fluid" >
        <div class="row">

            <div class="col-sm-4"></div>

            <div class="col-sm-4">
                <h2 style="color: #3091E7"><center>Reset password for @{{ form.user.username }}</center></h2>
                {% if validlink %}
                    <p>Please enter your new password twice:</p>
                    <form action="." method="post">
                        {{ form|crispy}}
                        {% csrf_token %}
                        <p><input type="submit" value="Change password" /></p>
                    </form>
                {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    </>
{% endblock body %}









