{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<style>
    {% block style %}
        #cd{

        background-color: #FAFAFA;
            padding-top: 10px;
        padding-bottom: 10px;

        }

    {% endblock %}
</style>
{% block body %}
    <body style="background-color:  #0186E5;opacity: 0.9;min-height:500px">
    <div class="container-fluid" >
        <div class="row">

            <div class="col-sm-4"></div>

            <div class="col-sm-4" id="cd">
                <h1 style="color: #3091E7"><center>Reset your password</center></h1>
                <p>We've emailed you instructions for setting your password.</p>
                <p>If you don't receive an email, please make sure you've entered
                    the address you registered with.</p>
                <a href="{% url 'accounts:login' %}"><button>Return to log in</button></a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    </body>
{% endblock body %}










